<main class="main">
  <header-layout></header-layout>
 
  <!-- <h1>Click is an Event</h1>  -->
  <!-- <button (click)="handleClickMe()"> {{nameBtn}}</button>
  <div>Message: {{ clickMessage}}</div> -->
  <!-- <input type="text" [(ngModel)]="bindingMessage" />
  <div>Message: {{ bindingMessage }}</div> -->
  
  <div class="wapper-cart">
    <h1>Shopping Cart</h1>

    <div class="group-cart">
      <div class="header-cart">
        <div class="col-1">Image</div>
        <div class="col-2">Name</div>
        <div class="col-3">Price</div>
        <div class="col-4">Action</div>
      </div>
      <div class="body-cart">
        <div class="row-cart">
          <div class="col-1">
            <img 
            width="50px" 
            height="auto" 
            src="assets/images/terre_d_hermes.jpg" 
            alt="terre"
            />
          </div>
          <div class="col-2">Nuoc Hoa Terra</div>
          <div class="col-3">200$</div>
          <div class="col-4">
            <div class="btn-main">
              <img 
              width="20px" 
              height="auto" 
              src="assets/images/bin.png" 
              alt="terre"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<router-outlet></router-outlet>
